$blue_lemonde : #026b9c;
$gold_lemonde : #ffc700;
$dark_gold_lemonde : #e9b600;

@font-face {
    font-family: "Old London";
    src: local("Old London"), url("fonts/OldLondon.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;

}

.high-head {
    padding-top: 20px;
    display: grid;
    width: 99vw;
    height: auto;

    margin: auto;

    grid-template-columns: repeat(3, 33vw);

    .logo {
        margin-top: 10px;

        grid-column: 2/3;
        grid-row: 1;

        text-align: center;

        text-decoration: none;
        color: black;
        font-family: "Old London";
        font-size: 5em;

        text-shadow: 2px 2px rgb(179, 179, 179);
    }

    .button-div {
        grid-column: 3/3;
        grid-row: 1;

        display: grid;
        width: 99%;
        height: 100%;

        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, 50%);

        .button{
            text-decoration: none;
            font-weight: 600;

            text-align: center;
            margin: auto;

            font-family: "Roboto";
            font-size: 1em;
            
            color: black;
        }

        .log-in {
            grid-column: 2/3;
            grid-row: 2/2;
        }

        .log-in:hover {
            text-decoration: underline;
        }

        .subscribe {
            background-color: $gold_lemonde;
            border-radius: 5px;
            padding: 10px 20px;

            grid-column: 3/3;
            grid-row: 2/2;

            transition: background-color 0.25s;
        }

        .subscribe:hover {
            background-color: $dark_gold_lemonde;
        }
    }
}

.strip1 {
    background-color: $blue_lemonde;
    width: 100vw;
    height: 5px;

    margin-top: 60px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 75vw;

    margin: auto;

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
        font-weight: 550;

        text-align: center;
        margin: auto;

        font-family: "Roboto Condensed";
        font-size: 1em;
        
        color: black;
    }

    li a:hover {
        color: $blue_lemonde;
    }
}

.strip2 {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(202, 202, 202) 0%, rgba(255,255,255,1) 100%);

    width: 100vw;
    height: 5px;

    margin-top: 20px;
    margin-bottom: 20px;
}