@font-face {
    font-family: "Old London";
    src: local("Old London"), url("/fonts/OldLondon.ttf") format("truetype");
    //url("file://fonts/OldLondon.ttf");
}

.title {
    font-family: "Old London";
}