@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@font-face {
  font-family: "Old London";
  src: local("Old London"), url("../fonts/OldLondon.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.high-head {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  width: 99vw;
  height: auto;
  margin: auto;
  -ms-grid-columns: (33vw)[3];
      grid-template-columns: repeat(3, 33vw);
}

.high-head .logo {
  margin-top: 10px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: "Old London";
  font-size: 5em;
  text-shadow: 2px 2px #b3b3b3;
}

.high-head .button-div {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  width: 99%;
  height: 100%;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
}

.high-head .button-div .button {
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  margin: auto;
  font-family: "Roboto";
  font-size: 1em;
  color: black;
}

.high-head .button-div .log-in {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.high-head .button-div .log-in:hover a {
  text-decoration: underline;
}

.high-head .button-div .subscribe {
  background-color: #ffc700;
  border-radius: 5px;
  padding: 10px 20px;
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 2;
  grid-row: 2/2;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.high-head .button-div .subscribe:hover {
  background-color: #e9b600;
}

.strip1 {
  background-color: #026b9c;
  width: 100vw;
  height: 5px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75vw;
  margin: auto;
}

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  font-weight: 550;
  text-align: center;
  padding: 10px;
  font-family: "Roboto Condensed";
  font-size: 1em;
  color: black;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.nav li a:hover {
  color: #026b9c;
}

.strip2 {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(white));
  background: linear-gradient(180deg, #cacaca 0%, white 100%);
  width: 100vw;
  height: 5px;
  margin-top: 20px;
}

.foot {
  background-color: #2a303b;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 35px;
}

.foot h2 {
  font-family: "Roboto Condensed";
  font-size: 1em;
  font-weight: 400;
  color: white;
}

.foot .foot-list li {
  color: white;
  font-size: 0.75em;
  font-weight: 500;
}

.foot .foot-list li a {
  text-decoration: none;
  text-align: center;
  font-family: "Roboto";
  color: white;
}

.foot .foot-list li a:hover {
  text-decoration: underline;
}

.foot .instagrams {
  list-style: none;
}

.foot .instagrams i {
  font-size: 2em;
}
/*# sourceMappingURL=main_style.css.map */